extends ../_includes/layouts/default.pug

block content
    p <b>&quot;Martin heter jag&quot;</b> is Swedish for <b>&quot;My name is Martin&quot;</b> ... so, I'm Martin, I live in Sweden and I always have at least 3 ongoing projects. I've been working as a software developer since 2015, mainly with embedded Linux and C++.

    p This site is about my projects, most of them are music tech DIY projects, everything from analog modular synthesizers to digital circuits to pure software applications. I also make things for games, I've made a few maps for Quake 3 / Quake Live and been modding for Diablo 2 and Minecraft. Unfortunately the mods were never backed up and are long lost by now, but it's not unlikely that I'll do something similar in the future. I will continuously keep updating this site with my project.

    p Oh, i also brew beers, wines, meads and ciders. I might add some brewing projects to the site at some point as well! Cheers!
