extends ../_includes/layouts/default.pug

block content
    p <b>&quot;Martin heter jag&quot;</b> is Swedish for <b>&quot;My name is Martin&quot;</b> ... so, I'm Martin, I live in Sweden and I always have at least 3 ongoing projects. I've been working as a software developer since 2015, mainly with embedded Linux and C++.

    p This site is about my projects, most of them are music tech DIY projects, everything from analog modular synthesizers to digital circuits to pure software applications.

    p If you you want to support my work, please consicer sending a <b><a href="https://www.paypal.com/donate/?business=2HV2M3GRSY6VG&no_recurring=0&item_name=If+you+like+my+work%2C+please+concider+sending+a+donation.+It+will+keep+me+motivated+to+continue+development%21&currency_code=EUR">donation</a></b>.
