extends ../_includes/layouts/default.pug

block content
    p If you you want to support my work, please consicer sending a donation. It motivates me to continue to develop and publish my work as open source.

    <form action="https://www.paypal.com/donate" method="post" target="_top">
    <input type="hidden" name="business" value="2HV2M3GRSY6VG" />
    <input type="hidden" name="no_recurring" value="0" />
    <input type="hidden" name="item_name" value="If you like my work, please concider sending a donation. It will keep me motivated to continue development!" />
    <input type="hidden" name="currency_code" value="SEK" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_SE/i/scr/pixel.gif" width="1" height="1" />
    </form>

    <br>

    h1(class="headline-1") Crypto currency
    p I also accept several crypto currency donations,

    p <b> Bitcoin (BTC):</b><br><img src="/assets/images/donate/bitcoin-qr.png">3Bh3NfqgaR36xze5W3DN41u35XQkqRoLm6 <a style="color:grey"> ( This is a bitcoin network address. Do not send BTC over any other network to this address or your funds may be lost. Do not send Bitcoin Cash (BCH) to this address. )</a>

    p <b> Dogecoin (DOGE):</b><br><img src="/assets/images/donate/dogecoin-qr.png">DP6vE4z9xNh1Nikov6yFDTPSJBGisLENVM <a style="color:grey"> ( This address can only receive DOGE from the Dogecoin network. )</a>

    p <b> Ethereum (ETH):</b><br><img src="/assets/images/donate/etherium-qr.png">0x0D554A83022a39E1c010eBF6d799BDc83928fFe3 <a style="color:grey"> ( This address can only receive Ethereum from Ethereum network. )</a>

    <br>

    h1(class="headline-1") Don't want to send a donation?
    p No worries! You can instead support med by following me on social media (links in the footer). <br> Add my plug-ins as favorites on <b><a href=https://www.kvraudio.com/developer/martinheterjag>kvr audio</a></b>. <br> Charing my work with your friends, family, co-workers or any synth geek you meet on the street. <br> Follow me on github and star my projects.

    p Please contact me if you have any questions about my projects or just let me know if you want more information about a project or want to see any specific content in the future. Also, please let me know if you find any errors or bugs in any of my projects, it is much appreciated!

    p <b>Thank you a lot for your support!</b>

