extends ../_includes/layouts/default.pug

block content
    section
        h1(class="hero") Hello! My name is Martin!
        h1(class="hero") I'm a software engineer who makes analog synthesizers!
    section
        h2(class="mt-16 mb-8 md:mb-4 uppercase font-bold") Featured Projects
        div(class="md:flex md:flex-wrap md:-mx-4 lg:-mx-6")
            +portfolioList
