extends ../../_includes/layouts/default.pug

block content
    - var projectIndex = portfolioList.findIndex(project => project.id === page.fileSlug)
    +project(projectIndex)
    div
        p View on&nbsp;
            +externalLink('https://github.com/martinheterjag/kanzchip-8','View the project on Github', "Github")
