include ./portfolioList/portfolioList.pug
include ./navItems/navItems.pug
include ./project/project.pug
include ./picture/picture.pug
include ./projectStats/projectStats.pug
include ./externalLink/externalLink.pug
